form(class="{{cssClass}} flexcol" autocomplete="off")
    header.sheet-header
        img.profile(src="{{actor.img}}" data-edit="img" title="{{actor.name}}")
        section.header-details.flexrow
            h1.charname
                input(name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'MNM3E.Name'}}")
            nav.sheet-navigation.tabs(data-group="primary")
                a.item.active(data-tab="core") {{ localize "MNM3E.Core" }}
                a.item(data-tab="notes") {{ localize "MNM3E.Notes" }}
                a.item(data-tab="effects") {{ localize "MNM3E.Effects" }}
            ul.summary.flexrow
                | {{#each summary as |summary|}}
                li
                    input(type="text" name="{{ summary.name }}" value="{{ summary.value }}" placeholder="{{ localize summary.localizedKey }}")
                | {{/each}}

            ul.attributes.flexrow
                li.attribute.initiative 
                    h4.attribute-name {{ localize "MNM3E.Initiative" }}
                    .attribute-value
                        span {{numberFormat data.attributes.initiative decimals=0 sign=true}}
                li.attribute.movement
                    h4.attribute-name {{ localize "MNM3E.Movement" }}
                    .attribute-value
                        span {{ movement.main }}
                    footer.attribute-footer
                        span {{ movement.special }}
                li.attribute.powerlevel 
                    h4.attribute-name {{ localize "MNM3E.PowerLevel" }}
                    .attribute-value
                        span {{data.attributes.powerLevel}}
                li.attribute.penalty-points
                    h4.attribute-name {{ localize "MNM3E.PenaltyPoints" }}
                    .attribute-value
                        input(type="number" name="data.attributes.penaltyPoints" value="{{data.attributes.penaltyPoints}}" placeholder="0")


    section.sheet-body 
        .tab.core.flexrow(data-group="primary" data-tab="core")
            | {{> "systems/mnm3e/templates/actors/parts/npc-core.html" }}

        .tab.notes.flexrow(data-group="primary" data-tab="notes")
            | {{> "systems/mnm3e/templates/actors/parts/actor-notes.html" }}

        .tab.effects(data-group="primary" data-tab="effects")
            | {{> "systems/mnm3e/templates/actors/parts/actor-effects.html" }}