form.degree-calculator.flexrow(autocomplete="off")
    span {{ localize "MNM3E.DegreeCalculator" }}:
    input.roll(type="number" name="roll" placeholder="{{ localize 'MNM3E.Roll' }}")
    span {{ localize "MNM3E.VersusAbbrev" }}
    input.dc(type="number" name="dc" placeholder="{{ localize 'MNM3E.DC' }}")
    span =
    .degrees.no-input
