doctype html
include ../../mixins.pug

+select-value-with-override("MNM3E.ItemActivationType", "data.activation.type", "config.activationTypes")

| {{#if (or data.activation.type.value (eq item.type "modifier")) }}

+select-value-with-override("MNM3E.Range", "data.range.type", "config.rangeTypes")

+select-value-with-override("MNM3E.Area", "data.range.area", "config.areaTypes")

+select-value-with-override("MNM3E.Duration", "data.duration.type", "config.durationTypes")

| {{/if}}