doctype html
include ../../mixins.pug

h3.form-header {{ localize "MNM3E.ItemActivationDetails" }}
+select-value-with-override("MNM3E.ItemActivationType", "data.activation.type", "config.activationTypes", true)

| {{#if (or data.activation.type.value (eq item.type "modifier")) }}
+expanding-roll-controller("MNM3E.ActivationCheck", "data.activation.check")

+select-value-with-override("MNM3E.Range", "data.activation.range.type", "config.rangeTypes")

| {{#if (and (eq data.activation.range.type.value "ranged") (eq item.type "modifier"))}}
+select-value-with-override("MNM3E.RankMultiplier", "data.activation.range.multiplier", "config.rangedMultiplier", true)
| {{/if}}

+select-value-with-override("MNM3E.Area", "data.activation.range.area", "config.areaTypes", true, true)

+select-value-with-override("MNM3E.Duration", "data.activation.duration.type", "config.durationTypes")

.form-group.input.effect-uses
    label {{ localize "MNM3E.Uses" }}
    | {{#if item.isOwned}}
    input(type="number" name="data.activation.uses.remaining" value="{{data.activation.uses.remaining}}" data-dtype="Number")
    span {{ localize "MNM3E.UsesOf" }}
    | {{/if}}
    input(type="number" name="data.activation.uses.max.value" value="{{data.activation.uses.max.value}}" data-dtype="Number")&attributes({[getOverrideAttribute("data.activation.uses.max.value")]: ''})

| {{/if}}