include ../../mixins.pug

h3.form-header {{ localize "MNM3E.ItemActionDetails" }}
+select-value-with-override("MNM3E.ItemActionType", "data.action.type", "config.actionTypes", true)

| {{#if (or data.action.type.value (eq item.type "modifier")) }}
+expanding-roll-controller("MNM3E.AttackCheck", "data.action.roll.attack")
+expanding-roll-controller("MNM3E.ResistDC", "data.action.roll.resist")

| {{/if}}
