include ../../mixins.pug

img.profile(src="{{item.img}}" title="{{item.name}}" data-edit="img")
.header-details.flexcol
    .titles.flexrow
        h1.charname
            input(name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'MNM3E.ItemName' }}")

        .item-subtitle
            h4.item-type {{itemType}}
            | {{#if itemSubtype}}
            span.item-subtype {{itemSubtype}}
            | {{/if}}

    | {{#if showSummary}}
    +item-summary-controller()
    | {{/if}}