ol(class="items-list {{ type }}-list item-{{ type }}-controls")
    li.items-header.flexrow
        h3.item-name {{ header }}
        | {{#if sections}}
        | {{#each sections.headers as |sectionHeader|}}
        .section-header {{ sectionHeader }}
        | {{/each}}
        | {{/if}}
        | {{#if (not hideControls)}}
        a.item-control(title="{{ localize 'MNM3E.ItemCreate' }}" data-action="create" data-item-type="{{ type }}")
            i.fas.fa-plus(class="{{iconClass}}")
        | {{/if}}

    ol.item-list
        | {{#each items as |item|}}
        li.item.flexrow(data-item-id="{{item._id}}" data-item-index="{{@index}}")
            .item-name.flexrow
                .item-image(style="background-image: url('{{item.img}}')")
                h4 {{#if item.data.summary.parsed}} {{item.data.summary.parsed}} {{else}} {{item.name}} {{/if}}
            | {{#if ../sections}}
            | {{#each (lookup ../sections.rows @index) as |detail|}}
            .section-detail {{ detail }}
            | {{/each}}
            | {{/if}}
            | {{#if (not ../hideControls)}}
            .item-controls.flexrow
                | {{#if ../canFavorite}}
                a.item-control(title="{{ localize 'MNM3E.ItemFavorite' }}" data-action="favorite" data-index="{{@index}}")
                    i.fa-star(class="{{#if item.flags.mnm3e.isFavorite}}fas{{else}}far{{/if}} {{../iconClass}}")
                | {{/if}}
                a.item-control(title="{{ localize 'MNM3E.ItemEdit' }}" data-action="edit" data-index="{{@index}}")
                    i.fas.fa-edit(class="{{../iconClass}}")
                a.item-control(title="{{ localize 'MNM3E.ItemDelete' }}" data-action="delete" data-index="{{@index}}")
                    i.fas.fa-trash(class="{{../iconClass}}")
            | {{/if}}
        | {{/each}}