.mnm3e.sheet.actor {
    h3.section-header {
        text-align: center;
        flex: 0 1 auto;
        position: relative;

        .config-button{
            position: absolute;
            display: none;
            bottom: 15%;
            margin-left: 2px;
            font-weight: normal;
        }

        &:hover .config-button {
            display: inline-block;
        }
    }

    .item-list .item-controls {
        flex: 0 1 50px;
    }
}