.mnm3e.sheet.actor {
    h3.section-title {
        text-align: center;
        font-family: Charcoal, sans-serif;
        color: $tabFillerBackground;
        background: $primaryColor;
        border-radius: 0 6px 0 6px;
        flex: 0 1 auto;
        padding: 3px;
        position: relative;

        .config-button{
            position: absolute;
            display: none;
            bottom: 15%;
            margin-left: 2px;
            font-weight: normal;
        }

        &:hover .config-button {
            display: inline-block;
        }
    }

    .item-list .item-controls {
        flex: 0 1 50px;
    }
}