
.mnm3e.sheet {
    input[type="text"],
    input[type="number"] {
        background: none;
        border: 1px solid transparent;

        &:hover,
        &:focus {
            border: 1px solid black;
        }
    }

    .section-title {
        border-radius: $sectionBorderRadius;
    }

    // .tabs {
    //     color: black;
    //     flex-basis: 25px;
    //     flex: 0 1 10%;
    //     align-items: center;
    //     .item{
    //         font-size: 100%;
    //         font-family: Charcoal, sans-serif;
    //         color:rgb(49, 49, 49);
    //     }
    // }

    .tab .form-group{
        flex: 0 0 auto;
    }

    .tab {
        flex: auto;
    }

    .sheet-header {
        flex: 0 1 auto;
        align-items: flex-start;
    }

    .sheet-body {
        color:rgb(49, 49, 49);
        display: flex;
    }

    .item .item-name .item-image{
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
    }

}