.mnm3e.sheet.actor.character {
    h4.box-title {
        height: 18px;
        line-height: 16px;
        margin: 4px 8px 2px;
        font-size: 18px;
        white-space: nowrap;
        border-bottom: 1px solid #c9c7b8
    }

    .sheet-header .header-details {
        .top-info {
            flex-wrap: nowrap;
            align-items: center;
            h1.charname {
                flex: 1 1 auto;
                padding: 0;
            }
    
            .header-powerlevel {
                align-items: flex-end;
                flex-direction: column;
                margin: 0 ;
                padding: 0 10px;
                border: $sectionBorder;
                border-radius: $sectionBorderRadius;
                background: rgba(gray, 0.1);
                .header-power {
                    display: flex;
                    flex: 0 1 auto;
                    white-space: nowrap;
                    justify-content: flex-end;
                    flex-direction: row;
                    input {
                        flex: 0 1 30px;
                    }
                }

                .max-points {
                    position: relative;
                    .lock-button {
                        position: absolute;
                        display: none;
                        margin-top: 5px;
                        margin-left: -15px;
                    }
            
                    &:hover .lock-button {
                        display: block;
                    }
                }
            }
        }
    }

    .cost-breakdown {
        flex: 0 1 auto;
        $text-size: 12px;
        .point-cost {
            border: $sectionBorderOpaque;
            border-bottom: none;
            padding-top: 2px;
            text-align: center;
            font-size: $text-size;
            span {
                font-size: $text-size;
                padding-left: 3px;
            }
            &:first-child {
                border-left: none;
            }
            &:last-child {
                flex: 1 0 auto;
                border-right: none;
            }

            .invalid-power-points {
                color: red;
            }
        }
    }

    .sheet-navigation.tabs {
        margin: 0;
    }
    .sheet-body {
        border: 3px solid $primaryColor;
        border-top: none;
        padding: 6px;
    }

    .core-container {
        $section-buffer: 6px;

        label.box-title {
            padding: 4px 8px 2px;
            font-size: 15px;
            border-bottom: $underline-border;
            text-transform: uppercase;
            white-space: nowrap;
        }

        .scores {
            margin: 0;
            padding-left: 2px;
            padding-right: 2px;
            background-color: $tabFillerBackground;
    
            .ability {
                border-bottom: $borderGroove;
                &:last-child {
                    border-bottom: none;
                }
            }
            
            span.ability-score {
                height: 30px;
                width: 36px;
                margin: 0 auto;
                font-size: 20px;
            }
        }

        .ability-section {
            text-align: center;
            margin-right: $section-buffer;
        }

        .defense {
            text-align: center;
            border-right: $sectionBorderOpaque;
            &:last-child {
                border-right: none;
            }
        }

        .body-section {
            flex: 0;
            margin-top: $section-buffer;

            .favorites-section ol {
                padding: 0px;
                flex: 0 1 auto;
                margin-top: 0;
            }

            .skill-section {
                max-width: fit-content;
            }
        }
    }

    .notes {
        .notes-entries.complication-notes {
            height: 30%;
        }
    }
}
