@use 'sass:list';

.mnm3e.chat-card {
    $header-height: 36px;
    $card-border: 2px groove white;
    $effect-border: 2px groove white;

    .card-header {
        border-top: $card-border;
        border-bottom: $card-border;
        padding: 3px 0;
        img {
            flex: 0 0 $header-height;
        }

        h3 {
            padding-left: 5px;
            line-height: $header-height;
            margin: 0;
        }
    }

    .card-content {
        h3, h4, p {
            margin: 0;
        }

        .descriptor, .effect-summary {
            font-weight: bold;
        }

        .effect-roll-type {
            text-align: left;
        }

        .effect-versus {
            text-align: right;
        }

        .card-description {
            border-bottom: $card-border;
        }

        .roll-result {
            margin-top: 5px;
            border-bottom: $effect-border;
        }
        .roll-request {
            padding-bottom: 4px;
            border-top: 2px groove $primaryColor;
            .effect-roll-type {
                text-align: center;
            }
            &:last-of-type {
                border-bottom: $card-border;
            }
        }
        .roll-result.attack-roll {
            border-bottom: none;
        }
        .effect-footer {
            span {
                $footer-padding: 5px;
                font-size: 10px;
                padding-left: $footer-padding;
                padding-right: $footer-padding;
                &:not(&:last-child) {
                    border-right: $card-border;
                }
            }
        }
    }
}

#chat-log .chat-message {
    background: $sheetBackground;
    .effect-button {
        background: $tabFillerBackground;
    }
}

$fail-degrees: '.four-fail', '.three-fail', '.two-fail', '.one-fail';
$success-degrees: '.one-success', '.two-success', '.three-success', '.four-success';

#{$fail-degrees}, #{$success-degrees} {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        margin: 0;
        line-height: 24px;
        text-align: center;
        border: 1px solid #999;
        border-radius: 3px;
        box-shadow: 0 0 2px #fff inset;
        word-break: break-all;
    }

$degree-threshold: 50;
$visibility: 0.8;

@for $i from 1 through list.length($fail-degrees) {
    $threshold: $degree-threshold * $i;
    #{list.nth($fail-degrees, $i)} {
        background: rgba(255, $threshold, $threshold, $visibility)
    }
}

@for $i from 1 through list.length($success-degrees) {
    $threshold: 255 - $degree-threshold * $i;
    #{list.nth($success-degrees, $i)} {
        background: rgba($threshold, 255, $threshold, $visibility)
    }
}