.mnm3e.sheet.actor.npc {
    .sheet-navigation.tabs {
        flex: 0;
        border: $sectionBorder;
        border-radius: $sectionBorderRadius;
        font-size: 16px;
        margin: 2px 2px 0 2px;
        .active {
            padding: 3px;
            border-radius: 0;
        }
    }

    .traits-section {
        flex: 0 1 30%;

        .trait {
            flex: 0;
        }

        h4 {
            text-align: center;
            font-family: Charcoal, sans-serif;
            color: $tabFillerBackground;
            background: $primaryColor;
            border-radius: $sectionBorderRadius;
            flex: 0 1 auto;
            padding: 2px 0 2px 0;
            margin-bottom: 5px;
        }
        .ability-section{
            flex-wrap: wrap;
            margin-top: 8px;
            border: $sectionBorder;
            border-radius: $sectionBorderRadius;
            background-color: $tabFillerBackground;
            margin: 3px;
            .ability-scores {
                justify-content: space-evenly;
                padding: 0 2px 2px 2px;
                margin: 0 5px 5px 5px;;
            }
            .ability {
                flex: 1 0 25%;
                border: $sectionBorderOpaque;
                .ability-name {
                    text-align: center;
                    text-decoration: underline;
                }
                .ability-score {
                    text-align: center;
                }
            }
        }
        .defense-section{
            flex-wrap: nowrap;
            margin: 3px;
            border: $sectionBorder;
            border-radius: $sectionBorderRadius;
            background-color: $tabFillerBackground;
            .defense-scores {
                justify-content: space-evenly;
                padding: 0 2px 2px 2px;
                margin: 0 5px 5px 5px;;
            }
            .defense {
                border: $sectionBorderOpaque;
                .defense-name {
                    text-align: center;
                    text-decoration: underline;
                }
                .defense-score {
                    text-align: center;
                }
            }
        }
        .skills{
            flex-wrap: nowrap;
            margin: 3px;
            border: $sectionBorder;
            border-radius: $sectionBorderRadius;
            background-color: $tabFillerBackground;
            padding-bottom: 5px;
            .skill-name {
                text-align: center;
                padding-left: 10px;
            }
        }
    }
}