.mnm3e.sheet.actor.npc {
    .sheet-navigation.tabs {
        flex: 0;
        border: $section-border;
        border-radius: $asymmetric-radius;
        font-size: 16px;
        margin: 2px 2px 0 2px;
        .active {
            padding: 3px;
            border: 1px solid $activated-tab-color;
            border-radius: 0;
        }
    }

    .traits-section {
        flex: 0 1 30%;
        .bordered-section:not(.skill-section) {
            margin: 3px;
            .scores {
                justify-content: space-evenly;
                padding: 0 2px 2px 2px;
                margin: 0 5px 5px 5px;
                .score {
                    border: $transparent-border;
                    text-align: center;
                    &.ability {
                        flex: 1 0 25%;
                    }

                    label {
                        border-bottom: $underline-border;
                        text-transform: uppercase;
                    }
                }
            }
            &.ability-section {
                flex-wrap: wrap;
                margin-top: 8px;
            }
            &.defense-section {
                flex-wrap: nowrap;
            }
        }
    }
}