.mnm3e.sheet.actor.npc {
    .tabs {
        flex: 0;
        border-radius: 0;
        font-size: 16px;
        .active {
            border-radius: 0;
        }
    }
    
    .traits-section {
        flex: 0 1 30%;
        h4 {
            text-align: center;
            font-family: Charcoal, sans-serif;
            color: $tabFillerBackground;
            background: $editableBackground;
            border-radius: $sectionBorderRadius;
            flex: 0 1 auto;
            padding: 2px 0 2px 0;
            margin-bottom: 5px;
        }
        .ability-section{
            flex-wrap: wrap;
            margin-top: 8px;
            border: $sectionBorder;
            border-radius: $sectionBorderRadius;
            background-color: $tabFillerBackground;
            margin: 3px;
            .ability-scores {
                justify-content: space-evenly;
                padding: 0 2px 2px 2px;
                margin: 0 5px 5px 5px;;
            }
            .ability {
                flex: 1 0 25%;
                border: $sectionBorderOpaque;
                .ability-name {
                    text-align: center;
                    text-decoration: underline;
                }
                .ability-score {
                    text-align: center;
                }
            }
        }
        .defense-section{
            flex-wrap: nowrap;
            margin: 3px;
            border: $sectionBorder;
            border-radius: $sectionBorderRadius;
            background-color: $tabFillerBackground;
            .defense-scores {
                justify-content: space-evenly;
                padding: 0 2px 2px 2px;
                margin: 0 5px 5px 5px;;
            }
            .defense {
                border: $sectionBorderOpaque;
                .defense-name {
                    text-align: center;
                    text-decoration: underline;
                }
                .defense-score {
                    text-align: center;
                }
            }
        }
        .skills{
            flex-wrap: nowrap;
            margin: 3px;
            border: $sectionBorder;
            border-radius: $sectionBorderRadius;
            background-color: $tabFillerBackground;
            padding-bottom: 5px;
            .skill-name {
                text-align: center;
                padding-left: 10px;
            }
        }
        .config-button {
            padding: 5px;
        }
        .trait {
            span {
                padding: 3px;
            }
            label {
                padding-right: 5px;
            }
            input {
                background-color: $tabFillerBackground;
                max-width: 40%;
                padding-left: 3px;
            }
        }
    }
}