.mnm3e.sheet.item.power {
    .sheet-body {
        padding: 0;
        > div:not(:first-child) {
            padding: 6px;
        }

        .description {
            margin: 0;
            padding: 0 5px;
            .power-properties {
                margin: 0;
                flex: 0 1 auto;
                border-bottom: $sectionBorderOpaque;

                .summary {
                    margin-top: 5px;
                    $summaryLabelSize: 16px;
                    * {
                        margin: auto 0;
                    }

                    label {
                        flex: 0 1 auto;
                        font-size: $summaryLabelSize;
                    }
                    span {
                        padding: 0 5px;
                        font-size: $summaryLabelSize * 0.9;
                    }
                }
            }
        }
    }
}