.window-app .window-content{
    background: $sheetBackground;
    background-size: cover;
}

.mnm3e.sheet {
    .rollable:hover {
        text-shadow: 0 0 8px red;
    }

    .sheet-header {
        .summary {
            flex: 0 0 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }


    .description{
        .editor{
            flex-wrap: nowrap;
            flex: 1 0 auto;
            margin: 15px;
        }
    }

    .item-subtitle{
        flex: 0 1 auto;
        text-align: right;
    }

    .item-list .list-item-summary {
        flex: 0 0 100%;
    }

    .item-list.subitem-list{
        margin: 0%;
    }

    .items-header{
        background: rgb(25,140,255);
        border-radius: $sectionBorderRadius;
        .item-name{
            text-align: left ;
            font-size: 1.125em;
            color: white;
            padding-left: 10px;
            margin: 0;
        }
    }

    .item-list:not(.subitem-list) {
        background-color: $tabFillerBackground;
        border: $sectionBorder;
        border-radius: $sectionBorderRadius;
        h4 {
            size: 20px;
            display: flex;
            align-items: flex-end;
        }
        .item-list { 
            border: none;
        }
        h4 {
            size:15px;
        }
        .item {
            background-color: rgba(0, 0, 0, 0.034);
            margin: 2px;
        }
    }

    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      border: $sectionBorder;
      border-radius: $sectionBorderRadius;
      background-color: rgba(224, 224, 224, 0.527);
    }
    .tox-edit-area{
        border: $sectionBorder;
        border-radius: $sectionBorderRadius;
        font-family: Charcoal, sans-serif;
        background-color: rgba(224, 224, 224, 0.527);
    }

    .tabs {
        flex: 0 1 auto;
        //margin: 2%;
        align-items: center;
        background: $editableBackground;
        border-radius: $sectionBorderRadius;
        border: $sectionBorder;
        .item {
            font-size: 100%;
            font-family: Charcoal, sans-serif;
            color:white;
            padding: 1%;
        }
        .item.active {
            background: rgba(197, 7, 7, 0.863);
            border-radius: 5px,5px,0,0;
            text-size-adjust: 20%;
            color: white;
        }
    }

    .item-properties {
        min-width: 10px;
        flex: 0 1 30%;
    }

    .tab {
        .item-summary {
            flex: 0 1 auto;
        }
        .summary-controls{
            flex: 0 1 10%;
            align-items: flex-start;
        }
    }

    .favorites-section {
        margin-top: 4px;
        ol {
            padding: 0px;
            flex: 0 1 auto;
            margin: 4px 8px;
            border:  $sectionBorder;
            border-radius: $sectionBorderRadius;
        }
    }
}