$borderGroove: 1px solid rgb(59, 84, 94); 
$colorDark: darkgray;
$sectionBorder: 1px solid rgb(20, 90, 160);
$sectionBorderOpaque: 1px solid rgba(20, 90, 160, 0.2);
$sectionBorderRadius: 0 5px 0 5px;
$sheetBackground: rgb(238, 235, 235);
$primaryColor: rgb(25,140,255);
$tabFillerBackground: rgb(228, 228, 228);
$selectedTab: rgb(197, 7, 7, 863);