$primary-color: rgb(25,140,255);
$section-border-color: rgb(20, 90, 160);
$section-border: 1px solid $section-border-color;
$transparent-border: 1px solid rgba($section-border-color, 0.2);
$asymmetric-radius: 0 5px 0 5px;
$sheet-background: rgb(238, 235, 235);
$tinted-background: rgb(228, 228, 228);
$activated-tab-color: rgb(197, 7, 7);
$column-separator: 2px solid rgba(black, 0.1);
$underline-border: 1px groove rgba($primary-color, 0.1)