| {{>
|       "systems/mnm3e/templates/items/parts/list-sheet.html"
|       dataPath="advantages"
|       header=(localize "MNM3E.Advantages")
|       type="advantage"
|       canFavorite=true
| }}

| {{>
|       "systems/mnm3e/templates/items/parts/list-sheet.html"
|       dataPath="powers"
|       header=(localize "MNM3E.Powers")
|       type="power"
|       canFavorite=true
| }}

| {{>
|       "systems/mnm3e/templates/items/parts/list-sheet.html"
|       dataPath="equipment"
|       header=(localize "MNM3E.Equipment")
|       type="equipment"
|       canFavorite=true
| }}