.mnm3e.chat-card.check-card(data-actor-id="{{actor._id}}")
    header.card-header.flexrow
        img(src="{{actor.img}}" title="{{actor.name}}" width="36" height="36")
        h3.check-type {{ cardLabel }}

    .card-content.flexcol
        | {{{ rollTemplate }}}
        | {{#if degrees}}
        h3 {{ degrees.label }}
        div(class="{{degrees.cssClass}}") {{ degrees.value }}
        | {{/if}}