<div
|
| class="mnm3e chat-card item-card"
| data-actor-id="{{actor._id}}"
| data-item-id="{{item._id}}" {{#if tokenId}}data-scene-token-id="{{sceneTokenId}}"{{/if}}
| >

header.card-header.flexrow
    img(src="{{item.img}}" title="{{item.name}}" width="36" height="36")
    h3.item-name {{item.name}}

.card-content.flexcol
    h4.descriptor {{ item.data.descriptor }}
    .card-description
        | {{{ item.data.description.value }}}

    | {{#each effects }}
    .card-effect
        h4.effect-summary 
            | {{#if this.effect.data.summary.parsed}}
            |   {{this.effect.data.summary.parsed}}
            | {{else}}
            |   {{ this.effect.name }}
            | {{/if}}

        | {{{ this.effect.data.description.value }}}

        | {{#if this.canRoll}}

        | {{#if this.activationRoll}}
        .roll-result.activation-roll
            h3.effect-roll-type {{ localize "MNM3E.Activation" }}
            | {{{ this.activationRoll.template }}}
            .effect-versus {{ localize "MNM3E.VersusAbbrev" }} {{ this.effect.data.activation.check.targetScore.label }}
        | {{/if}}

        | {{#if this.attackRoll}}
        .roll-result.attack-roll
            h3.effect-roll-type {{ localize "MNM3E.Attack" }}
            | {{{ this.attackRoll.template }}}
            .effect-versus {{ localize "MNM3E.VersusAbbrev" }} {{ this.effect.data.action.roll.attack.targetScore.label }}
        | {{/if}}

        | {{#if this.resistInfo}}
        .roll-request.resist-request
            h3.effect-roll-type {{ localize "MNM3E.ResistCheck" }}
            button.effect-button(data-action="resist" data-effect-index="{{@index}}") {{ localize "MNM3E.DC" }} {{ this.resistInfo.dc }} {{ this.resistInfo.rollDetail.targetScore.label }}
        | {{/if}}
        
        | {{else}}
        span {{ localize "MNM3E.NoUsesRemaining" }}

        | {{/if}}
        footer.effect-footer
            | {{#each this.tags}}
            span {{ this }}
            | {{/each}}
    | {{/each}}

footer.card-footer
</div>