<div
|
| class="mnm3e chat-card item-card"
| data-actor-id="{{actor._id}}"
| data-item-id="item._id" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}
| >

header.card-header.flexrow
    img(src="{{item.img}}" title="{{item.name}}" width="36" height="36")
    h3.item-name {{item.name}}

.card-content.flexcol
    | {{#each effects as |effect|}}
    h4 
        | {{#if effect.effect.data.summary.parsed}}
        |   {{effect.effect.data.summary.parsed}}
        | {{else}}
        |   {{ effect.effect.name }}
        | {{/if}}
    | {{#if effect.roll}}
    .roll-result
        span {{ effect.roll.total }}
    | {{/if}}
    | {{/each}}

footer.card-footer
</div>