form(class="{{cssClass}} item-sheet-effect flexcol" autocomplete="off")
    header.sheet-header.flexrow
        | {{> "systems/mnm3e/templates/items/parts/header-sheet.html" itemSubtype=itemSubtype }}

    nav.sheet-navigation.tabs(data-group="primary")
        a.item.active(data-tab="description") {{ localize "MNM3E.Description" }}
        a.item(data-tab="details") {{ localize "MNM3E.Details" }}
        a.item(data-tab="modifiers") {{ localize "MNM3E.Modifiers" }}

    section.sheet-body
        .tab.description.flexrow.active(data-group="primary" data-tab="description")
            | {{> "systems/mnm3e/templates/items/parts/description-sheet.html"}}

        .tab.details.flexcol(data-group="primary" data-tab="details")
            | {{> "systems/mnm3e/templates/items/parts/cost-sheet.html" }}

            | {{> "systems/mnm3e/templates/items/parts/activations-sheet.html" }}

            | {{> "systems/mnm3e/templates/items/parts/actions-sheet.html" }}
            
        .tab.modifiers.flexcol(data-group="primary" data-tab="modifiers")
            | {{>
            |       "systems/mnm3e/templates/items/parts/list-sheet.html"
            |       items=data.modifiers
            |       header=(localize "MNM3E.Modifiers")
            |       type="modifier"
            | }}

        //- .tab.effects.flexrow(data-group="primary" data-tab="effects")
        //-     | {{> "systems/mnm3e/templates/actors/parts/actor-effects.html" }}